In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3', 'K4', 'K5'],
                 'A': ['A0', 'A1', 'A2', 'A3', 'A4', 'A5']})
df

    A key
0  A0  K0
1  A1  K1
2  A2  K2
3  A3  K3
4  A4  K4
5  A5  K5

In [4]:
other = pd.DataFrame({'issue': ['I0', 'I1', 'I5'],
                      'AS': ['A0', 'A1', 'A5']})
other

   AS issue
0  A0    I0
1  A1    I1
2  A5    I5

In [14]:
dtypes = pd.read_csv('twitter_archive_master_dtypes.csv', index_col=0)
dtypes = dtypes['dtypes'].to_dict()
twitter_archive_master = pd.read_csv('twitter_archive_master.csv')

for col, dtype in dtypes.items():
    twitter_archive_master[col] = twitter_archive_master[col].astype(dtype)
twitter_archive_master[['timestamp', 'retweet_count', 'favorite_count']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1751 entries, 0 to 1750
Data columns (total 3 columns):
timestamp         1751 non-null datetime64[ns]
retweet_count     701 non-null float64
favorite_count    701 non-null float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 41.1 KB

In [25]:
twitter_archive_master.sort_values('rating', ascending=False).loc[3]

tweet_id                                                     891327558926688256
in_reply_to_status_id                                                       NaN
in_reply_to_user_id                                                         NaN
timestamp                                                   2017-07-29 16:00:24
source                        <a href="http://twitter.com/download/iphone" r...
text                          This is Franklin. He would like you to stop ca...
retweeted_status_id                                                           0
retweeted_status_user_id                                                      0
retweeted_status_timestamp                                                  NaN
expanded_urls                 https://twitter.com/dog_rates/status/891327558...
jpg_url                         https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg
img_num                                                                       2
p1                                                                       basset
p1_conf                                                                0.555712
p1_dog                                                                     True
p2                                                             English_springer
p2_conf                                                                 0.22577
p2_dog                                                                     True
p3                                                  German_short-haired_pointer
p3_conf                                                                0.175219
p3_dog                                                                     True
retweet_count                                                               NaN
favorite_count                                                              NaN
favorited                                                                   NaN
retweeted                                                                   NaN
rating                                                                     0.16
Dogtionary                                                           Just a dog
Name: 3, dtype: object